*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
    /* background-color: aqua; */
    margin: 5rem 15rem;
    border: 2px solid white;
    padding: 20px;
    box-shadow: 2px 2px 5px 5px rgb(209, 208, 208);
    background-color: rgb(252, 230, 201);
}

h1{
    background-color: blueviolet;
    width: 40%;
    margin: auto;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

#stock-form > label{
    display: block;
    font-size: 2rem;
    margin: 2rem 0rem 1rem 0rem;
}

#stock-form >input{
    font-size: 1rem;
    padding: 0.2rem;
    width: 25%;
    border-radius: 0.5rem;
    outline: white;
    border: 2px solid blueviolet;
}

#tellMe{
    font-size: 1rem;
    font-weight: bold;
    margin: 3rem 0rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 2px solid blueviolet;
}

#tellMe:hover{
    cursor: pointer;
}

#result{
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width:1000px){
    h1{
        width: 80%;
    }
    #stock-form >input{
        font-size: 1.2rem;
        padding: 0.2rem;
        width: 45%;
        border-radius: 0.5rem;
        outline: white;
        border: 2px solid blueviolet;
    }
    .container{
        margin: 5rem 10rem;
    }
}

@media screen and (max-width:700px){
    h1{
        width: 80%;
    }
    #stock-form >input{
        font-size: 1.2rem;
        padding: 0.2rem;
        width: 45%;
        border-radius: 0.5rem;
        outline: white;
        border: 2px solid blueviolet;
    }
    .container{
        margin: 5rem 5rem;
    }
}

@media screen and (max-width:400px){
    h1{
        width: 90%;
        font-size: 25px;
    }
    #stock-form >input{
        font-size: 20px;
        padding: 0.2rem;
        width: 100%;
        border-radius: 0.5rem;
        outline: white;
        border: 2px solid blueviolet;
    }
    .container{
        margin: 5rem 1rem;
    }
    #stock-form > label{
        font-size: 20px;
    }
    #result{
        font-size: 20px;
        font-weight: bold;
    }
}